SITE_NAME="Mapas Culturais"
BUILD_ASSETS=1
ACTIVE_THEME="MapasCulturais\Themes\BaseV2"
REDIRECT_404_ASSETS_TO=

PENDING_PCACHE_RECREATION_INTERVAL=5
JOBS_INTERVAL=5
REDIS_CACHE=redis
MAILER_TRANSPORT=smtp://mailhog:1025
MAILER_FROM=sysadmin@localhost
NUM_PROCESSES=2
MC_UPDATES_PROCESSES=4

GOOGLE_RECAPTCHA_SITEKEY=6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI
GOOGLE_RECAPTCHA_SECRET=6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe
SESSIONS_SAVE_PATH=tcp://sessions:6379
